.skeleton {
  background-color: #e5e7eb;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  &.animate-pulse {
    animation: pulse 1.5s ease-in-out infinite;
  }
}

.skeleton-header {
  height: 16px;
  border-radius: 4px;
}

.skeleton-line {
  height: 16px;
  border-radius: 4px;
  &.h-5 {
    height: 20px;
  }
  margin-bottom: 4px;
}

.skeleton-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &.small {
    width: 18px;
    height: 18px;
  }
}

.skeleton-pill {
  height: 20px;
  border-radius: 9999px;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
