.space-y-4 {
  margin-bottom: 16px;
}
.about-user {
  display: flex;
  flex-direction: row;
}

.bd-focus {
  border: 1px solid #3b82f6!important;
  outline: none !important;
  box-shadow: none !important;
}


