:host {
  display: block;
  width: 100%;
  height: 100%;
}

.flex-1 {
  overscroll-behavior: auto;
  touch-action: pan-x pan-y;
  -webkit-overflow-scrolling: touch;
}

.grid {
  overscroll-behavior: auto;
  touch-action: pan-x pan-y;
}
