<div
  class="bg-white p-3 md:p-6 rounded-xl shadow-sm border border-gray-100 hover:shadow-md transition-shadow"
  [class.cursor-pointer]="clickable()"
  (click)="clickable() && cardClick.emit()"
>
  @if (loading()) {
    <ng-container *ngTemplateOutlet="skeleton"></ng-container>
  } @else {
    <div class="flex items-center justify-between">
      <div>
        <p class="text-sm font-medium text-gray-600">{{ label() }}</p>
        <p class="md:text-2xl text-xl font-bold" [ngClass]="valueClass().text">
          {{ value() }}
        </p>
      </div>
      <div
        [ngClass]="iconBgClass().bg"
        class="md:h-12 md:w-12 h-8 w-8 rounded-lg flex items-center justify-center"
      >
        <lucide-icon
          class="md:h-6 md:w-6 w-4 h-4"
          [ngClass]="iconItemClass().text" [img]="icon()">
        </lucide-icon>
      </div>
    </div>
    @if (tendText()) {
      <div class="mt-4 flex items-center text-sm">
        @if (tendIcon()) {
          <lucide-icon
            [ngClass]="tendIconClass().text"
            [img]="tendIcon()"
            class="md:h-4 md:w-4 w-3 h-3 mr-1"
          ></lucide-icon>
        }
        <span [ngClass]="tendTextClass().text">{{ tendText() }}</span>
      </div>
    }
  }
</div>

<ng-template #skeleton>
  <div class="flex items-center justify-between">
    <div>
      <div class="h-4 w-20 bg-gray-200 rounded mb-2"></div>
      <div class="h-6 w-24 bg-gray-300 rounded"></div>
    </div>

    <div
      class="h-12 w-12 bg-gray-200 rounded-lg flex items-center justify-center"
    >
      <div class="h-6 w-6 bg-gray-300 rounded"></div>
    </div>
  </div>

  <div class="mt-4 flex items-center text-sm">
    <div class="h-4 w-4 bg-gray-200 rounded mr-2"></div>
    <div class="h-4 w-16 bg-gray-200 rounded"></div>
  </div>
</ng-template>
