<div class="p-3 bg-white rounded-lg">
  <div class="flex items-center justify-between flex-wrap gap-3 text-xs">

    <div class="flex items-center flex-wrap gap-3">
      <div class="flex items-center gap-3">
        <div class="w-3 h-3 bg-blue-500 rounded"></div>
        <span class="text-gray-600">
          {{ 'calendar-legend.scheduled' | transloco }}
        </span>
      </div>

      <div class="flex items-center gap-3">
        <div class="w-3 h-3 bg-green-500 rounded"></div>
        <span class="text-gray-600">
          {{ 'calendar-legend.completed' | transloco }}
        </span>
      </div>

      <div class="flex items-center gap-3">
        <div class="w-3 h-3 bg-yellow-500 rounded"></div>
        <span class="text-gray-600">
          {{ 'calendar-legend.temporary' | transloco }}
        </span>
      </div>

      <div class="flex items-center gap-3">
        <div class="w-3 h-3 bg-red-500 rounded"></div>
        <span class="text-gray-600">
          {{ 'calendar-legend.cancelled' | transloco }}
        </span>
      </div>

      <div class="flex items-center gap-3">
        <div class="w-3 h-3 bg-pink-700 rounded"></div>
        <span class="text-gray-600">
          {{ 'calendar-legend.cancelled_forever' | transloco }}
        </span>
      </div>

      <div class="flex items-center gap-3">
        <span class="text-gray-600">
          {{ 'calendar-legend.up_to_four' | transloco }}
        </span>
      </div>
    </div>

    <div class="flex items-center gap-3">
      <div class="w-2 h-2 bg-red-500 rounded"></div>
      <span class="text-gray-600">
        {{ 'calendar-legend.current_time' | transloco }}
      </span>
    </div>
  </div>
</div>
