<div class="flex px-1 py-2 gap-2 animate-pulse">
        <div class="h-8 w-[20%] bg-gray-200 rounded-lg"></div>
        <div class="ml-[52%] h-8 w-[15%] bg-gray-200 rounded-lg"></div>
        <div class="h-8 w-[13%] bg-gray-200 rounded-lg"></div>
</div>


<div class="p-1">
  <div class="animate-pulse space-y-6">
    <div class="bg-white border border-gray-100 rounded-xl shadow-sm overflow-hidden">
      <div class="h-16 bg-white flex items-center px-4 gap-2">
        <div class="h-8 w-[70%] bg-gray-200 rounded-lg"></div>
        <div class="h-8 w-[30%] bg-gray-200 rounded-lg"></div>
      </div>
    </div>
  </div>
</div>

<div class="p-1 py-2">
  <div class="animate-pulse space-y-6">
    <div class="bg-white border border-gray-100 rounded-xl shadow-sm overflow-hidden">
      <div class="h-10 bg-gray-100 flex items-center px-8 gap-[5%]">
        <div class="h-4 w-[1.8%] bg-gray-200 rounded"></div>
        @for (i of [1,2,3,4,5,6]; track i) {
        <div class="h-4 w-[15%] bg-gray-200 rounded"></div>
        }
      </div>
      <div class="divide-y divide-gray-100">
        @for (i of [1,2,3,4,5,6,7,8]; track i) {
        <div class="flex items-center justify-between px-8 py-6">
          <div class="flex gap-[5%] w-full">
            <div class="h-4 w-[1.8%] bg-gray-200 rounded"></div>
             @for (j of [1,2,3,4,5,6]; track j) {
              <div class="h-4 w-[15%] bg-gray-200 rounded"></div>
             }
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>