<div class="flex items-center justify-between mb-2">
  <h3 class="text-xl font-semibold text-gray-900 mb-3">
    {{ (isEditMode() ? 'editPayment.payment_title' : 'addPayment.payment_title') | transloco }}
  </h3>
</div>

<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="grid grid-cols-1 md:grid-cols-2 gap-4 main"
>
  <app-form-field [label]="'addPayment.patient' | transloco" [control]="patientControl">
    <input [formControl]="patientControl" [matAutocomplete]="auto" />
    <mat-autocomplete
      #auto="matAutocomplete"
      optionsScroll
      (optionsScroll)="loadPatients()"
    >
      @if (loadingPatients()) {
        <mat-option disabled>{{ 'addPayment.loading' | transloco }}</mat-option>
      }

      @for (patient of patientPagination().items; track patient.id) {
        <mat-option
          (click)="form.controls['patientId'].setValue(patient.id)"
          [value]="patient.fullName"
        >
          {{ patient.fullName }}
        </mat-option>
      }
    </mat-autocomplete>
  </app-form-field>

  <app-form-field
    [label]="'addPayment.payment_type' | transloco"
    [control]="form.controls['paymentKind']"
  >
    <select
      formControlName="paymentKind"
      class="w-full px-3 py-2 border border-gray-200 rounded-lg focus:ring-2 focus:ring-sky-500 focus:border-sky-500 transition-colors"
    >
      <option [value]="paymentType.Payment">
        {{ 'addPayment.payment_type_payment' | transloco }}
      </option>
      <option [value]="paymentType.Debt">
        {{ 'addPayment.payment_type_debt' | transloco }}
      </option>
      <option [value]="paymentType.Prepayment">
        {{ 'addPayment.payment_type_prepayment' | transloco }}
      </option>
      <option [value]="paymentType.DebtPayment">
        {{ 'addPayment.payment_type_debt_payment' | transloco }}
      </option>
      <option [value]="paymentType.BalanceDeduction">
        {{ 'addPayment.payment_type_balance_deduction' | transloco }}
      </option>
    </select>
  </app-form-field>

  <app-form-field
    [label]="'addPayment.paid_at' | transloco"
    [control]="form.controls['paidAt']"
  >
    <input
      type="date"
      formControlName="paidAt"
      class="w-full px-3 py-2 border border-gray-200 rounded-lg focus:ring-2 focus:ring-sky-500 focus:border-sky-500"
    />
  </app-form-field>

  @if (form.get('paymentKind')?.value !== paymentType.Prepayment) {
    <app-form-field
      [label]="'addPayment.appointment' | transloco"
      [control]="form.controls['appointmentId']"
    >
      <select
        formControlName="appointmentId"
        class="w-full px-3 py-2 border border-gray-200 rounded-lg focus:ring-2 focus:ring-sky-500 focus:border-sky-500 transition-colors"
      >
        @if (patientAppointments().length === 0) {
          <option value="" disabled>←Выберите пациента</option>
        } @else {
          @for (appointment of patientAppointments(); track appointment.id; let i = $index) {
            <option [value]="appointment.id">
              {{ appointment.date }} - {{ appointment.time }}
              @if (appointment.doctor?.firstName && appointment.doctor?.lastName) {
                – {{ appointment.doctor.firstName }} {{ appointment.doctor?.lastName}}
              }
            </option>
          }
        }
      </select>
    </app-form-field>
  }

  <app-form-field
    [label]="'addPayment.amount' | transloco"
    [control]="form.controls['amount']"
  >
    <div class="relative">
      <input
        type="number"
        class="w-full px-3 py-2 pr-8 border border-gray-300 rounded-lg focus:ring-2 focus:ring-sky-500 focus:border-sky-500 bg-white transition-all text-sm"
        min="1"
        step="0.01"
        placeholder="0.00"
        formControlName="amount"
      />
      <span
        class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 text-sm"
      >
        ₽
      </span>
    </div>
  </app-form-field>

  @if (form.get('paymentKind')?.value !== paymentType.Debt &&
  form.get('paymentKind')?.value !== paymentType.BalanceDeduction) {
    <div class="md:col-span-2">
      <label class="block text-sm font-medium text-gray-700 mb-1.5">
        {{ 'addPayment.payment_method' | transloco }} *
      </label>
      <div class="grid grid-cols-2 sm:grid-cols-4 gap-1.5">
        <button
          (click)="paymentMethodSelected.set(paymentMethod.CASH)"
          type="button"
          [ngClass]="{'bg-sky-500 text-white': paymentMethodSelected() === paymentMethod.CASH}"
          class="px-3 py-2 rounded-lg text-xs font-medium transition-all flex items-center justify-center space-x-1.5 shadow-sm border border-gray-300"
        >
          <img src="assets/icons/cash.svg" width="20" height="14" />
          <span>{{ 'addPayment.payment_method_cash' | transloco }}</span>
        </button>

        <button
          (click)="paymentMethodSelected.set(paymentMethod.ESKHATA)"
          type="button"
          [ngClass]="{'bg-sky-500 text-white': paymentMethodSelected() === paymentMethod.ESKHATA}"
          class="px-3 py-2 rounded-lg text-xs font-medium transition-all flex items-center justify-center space-x-1.5 text-gray-700 border border-gray-300"
        >
          <img src="assets/icons/eskhata-bank.svg" width="20" height="14" />
          <span>{{ 'addPayment.payment_method_eskhata' | transloco }}</span>
        </button>

        <button
          (click)="paymentMethodSelected.set(paymentMethod.DC)"
          type="button"
          [ngClass]="{'bg-sky-500 text-white': paymentMethodSelected() === paymentMethod.DC}"
          class="px-3 py-2 rounded-lg text-xs font-medium transition-all flex items-center justify-center space-x-1.5 text-gray-700 border border-gray-300"
        >
          <img src="assets/icons/dushanbe-city.svg" width="20" height="14" />
          <span>{{ 'addPayment.payment_method_dc' | transloco }}</span>
        </button>

        <button
          (click)="paymentMethodSelected.set(paymentMethod.ALIF)"
          type="button"
          [ngClass]="{'bg-sky-500 text-white': paymentMethodSelected() === paymentMethod.ALIF}"
          class="px-3 py-2 rounded-lg text-xs font-medium transition-all flex items-center justify-center space-x-1.5 text-gray-700 border border-gray-300"
        >
          <img src="assets/icons/alif.svg" width="20" height="14" />
          <span>{{ 'addPayment.payment_method_alif' | transloco }}</span>
        </button>
      </div>
    </div>
  }

  <app-form-field
    [label]="'addPayment.comment' | transloco"
    class="col-span-full"
    [control]="form.controls['comment']"
  >
    <textarea formControlName="comment"></textarea>
  </app-form-field>

  <div class="md:col-span-2 flex justify-end space-x-3">
    <button
      [disabled]="isLoading()"
      type="submit"
      class="bg-sky-500 text-white px-6 py-2 rounded-lg hover:bg-sky-600 transition-colors"
    >
      {{ (isEditMode() ? 'editPayment.edit_payment_button' : 'addPayment.add_payment_button') | transloco }}
      {{ isLoading() ? '...' : '' }}
    </button>

    <button
      mat-dialog-close
      type="button"
      (click)="onClose()"
      class="bg-gray-200 text-gray-700 px-6 py-2 rounded-lg hover:bg-gray-300 transition-colors"
    >
      {{ 'addPayment.cancel' | transloco }}
    </button>
  </div>
</form>
