
.dialog-title {
  font-size: 20px;
  font-weight: 500;
  color: #1f2937;
  margin: 0 0 10px 0;
}
.mat-mdc-dialog-title {
  padding: 0!important;
}
.dialog-content {
  font-size: 16px;
  color: #374151;
}
.mat-mdc-dialog-content {
  padding: 0!important;
}
.mat-mdc-dialog-actions {
  padding: 0!important;
}

